#Mostly meta files...
Wordplay/Library/
Wordplay/Assembly-CSharp-Editor-vs.csproj
Wordplay/Assembly-CSharp-Editor.csproj
Wordplay/Assembly-CSharp-Editor.pidb
Wordplay/Assembly-CSharp-firstpass-vs.csproj
Wordplay/Assembly-CSharp-firstpass.csproj
Wordplay/Assembly-CSharp-firstpass.pidb
Wordplay/Assembly-CSharp-vs.csproj
Wordplay/Assembly-CSharp.csproj
Wordplay/Assembly-CSharp.pidb
Wordplay/Assembly-UnityScript-firstpass-vs.unityproj
Wordplay/Assembly-UnityScript-firstpass.unityproj
Wordplay/Assembly-UnityScript-firstpass.pidb